{% extends "base.html" %}
{% load static %}

{% block title %}Психолог | Главная{% endblock %}

{% block content %}

<div class="about-me">
    <img src="{% static 'test_app1/images/main3.jpg' %}" alt="Фотография психолога" class="profile-photo">
    <div class="description">
        <h2>Психолог Пашкевич Карина</h2>
        <p>Здравствуйте! Меня зовут Пашкевич Карина Погосовна, я профессиональный психолог с опытом работы более 10 лет.</p>
        <p>Специализируюсь на помощи в решении личных, семейных и профессиональных проблем. Моя цель — помочь вам найти гармонию и уверенность в себе.</p>
    </div>
</div>
<div class="about-me">
    <img src="{% static 'test_app1/images/main.jpg' %}" alt="Фотография психолога" class="profile-photo-left">
    <div class="description-left">
        <p>У меня высшее образование, обучалась я в БГПУ им. Максима Танка в институте психологии. Различного рода имею повышения квалификации ( их можно посмотреть ниже в разделе «Образование»). Также обучалась в Международной школе профессий, где расширяла свои знания и умения в теории и практике.</p>
        <p>Работаю с семейными парами, индивидуально и с детками.</p>
        <p>Очень люблю свою работу и предана каждому клиенту. Помню всех и каждого.</p>
        <p>Девиз: "Другой жизни не будет, пробуй жить эту!"</p>
    </div>
</div>

<div class="about-me">
    <img src="{% static 'test_app1/images/main2.jpg' %}" alt="Фотография психолога" class="profile-photo">
    <div class="description">
        <p>Работаю по таким методикам как:</p>
    </div>
</div>

<div class="about-me">
    <div class="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'test_app1/images/serf1.jpg' %}" alt="Фото 1">
            </div>
            <div class="carousel-item">
                <img src="{% static 'test_app1/images/serf2.jpg' %}" alt="Фото 2">
            </div>
            <div class="carousel-item">
                <img src="{% static 'test_app1/images/serf3.jpg' %}" alt="Фото 3">
            </div>
            <!-- Добавьте больше фотографий по аналогии -->
        </div>
        <!-- Стрелки для навигации -->
        <button class="carousel-control prev">&#10094;</button>
        <button class="carousel-control next">&#10095;</button>
        <!-- Индикаторы (точки) -->
        <div class="carousel-indicators">
            <span class="indicator active"></span>
            <span class="indicator"></span>
            <span class="indicator"></span>
            <!-- Добавьте больше точек по количеству фотографий -->
        </div>
    </div>
</div>

<script src="{% static 'js/slider.js' %}"></script>
{% endblock %}